body{
    background-color: white;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info { 
    display: flex;
    min-height: 20px;  
    height: 3vh;
    width: 200px;
    align-items: center;
    margin-bottom: 5px;
}
.user-icon {
    transition: all 0.4s;
    margin-left: auto;
}
.user-icon:hover {
    transform: scale(1.15);
}
.flex-item{
    width: 200px;
    max-height: 80vh;
    flex-grow: 1;
    overflow: auto;
}
.flex-item-2{
    text-align: center;
    width: 200px;
    flex-grow: 1;
    overflow: auto;
}
.popup {
    position: fixed;
    background-color: gray;
    z-index: 1;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.failed-login {
    display: none;
}
.tabs{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}
.popup-contents {
    margin-left: 10px;
}
.active { 
    background-color: aliceblue;
}
.hidden {
    display: none;
}